.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 100%;
    height: 92px;
}
#navbar{
    display: flex;
    margin: 0 120px;
    gap: 346px;
    align-items: center;
}
.nav-navigation ul{
    display: flex;
    gap: 32px;
    width: 365px;
    list-style: none;

}
.nav-navigation ul li{
    font-size: 16px;
    color: #000000;
    line-height: 152%;
}

.btn{
    background-color: #30B868;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border:none;
    border-radius: 4px;
    padding: 12px 16px;
}
