*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.font-inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

/* nav{
    width: 100%;
    height: 92px;
} */

#navbar{
    display: flex;
    width: 1600px;
    padding: 16px 120px;
    gap: 346px;
    align-items: center;
}
.nav-navigation ul{
    display: flex;
    gap: 32px;
    width: 365px;
    list-style: none;

}
.nav-navigation ul li{
    font-size: 16px;
    font-weight: 500;
    line-height: 152%;
    color: #000000;
    line-height: 152%;
    cursor: pointer;
}

.btn{
    background-color: #30B868;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border:1px solid #30B868 ;
    border-radius: 4px;
    padding: 12px 16px;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}
.btn2{
    color: #ffffff;
    background-color: transparent;
    font-size: 16px;
    font-weight: 600;
    border:1px solid;
    border-radius: 4px;
    padding: 12px 16px;
    align-items: center;
    cursor: pointer;
    transition: 0.4s;
}
.btn:hover{
    background-color: rgb(0, 81, 255);
}
.btn2:hover:hover{
    background-color: rgb(0, 81, 255);
}

#banner{
    background-image: url(../images/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 674px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#banner .banner-p1 p{
    background-color: #ffffff;
    color: #30B868;
    font-size: 16px;
    font-weight: 500;
    border: solid #ffffff;
    border-radius: 100px;
    padding: 8px 12px;
    margin-bottom: 16px;
    display: flex;
    gap: 6px;
    align-items: center;
}
#banner .banner-heading h1{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    color: #ffffff;
    margin: 0 295px;
}
#banner .banner-heading .next-line{
    font-size: 72px;
    font-weight: bold;
    line-height: 84px;
    margin: 0 295px;
    color: #30B868;
    margin-bottom: 16px;
    justify-content: center;
}
#banner .banner-p2{
    font-size: 18;
    line-height: 24px;
    color:#ffffff;
    margin-bottom: 32px;
}
#banner .banner-button{
    display: flex;
    gap: 16px;
}

#note-section{
    padding: 0 120px;
    /* display: flex; */
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
}

#note-section .note-heading h1{
    padding-top: 100px;
    margin: 0 auto 16px;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
} 

#note-section .note-heading p{
    color: #627382;
    font-size: 16px;
    line-height: 20px;
    margin: 0 auto 44px;
    text-align: center;
}

.card-container{
    display: flex;
    gap: 24px;
    margin: 44px 120px;
    text-align: center;
    justify-content: center;
    
}
.card-container .card{
    width: 322px;
    height: 300px;
    padding: 24px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}

.card-container .card h2{
    font-size: 24px 0;
    font-weight: 700;
    margin: 16px 0x;
    color: #001931;
}

.card-container .card p{
    width: 274px;
    margin-top: 16px;
    font-size: 16px;
    color: #627382;
    text-align: center;
    line-height: 20px;
    
}

.card-container .card img{
    background-color: #F95555;
    padding: 14px;
    border: 0px;
    border-radius: 50%;
    margin: 45px 107px 16px 107px;
}

#solution-container{
    padding: 0 120px 120px 120px;
    display: flex;
    justify-content: center;
    gap: 60px;
}
#solution-container .sol-info{
    padding: 102px 0 102px 60px;
}

#solution-container .sol-info .sol-p1{
    font-size: 16x;
    font-weight: 600;
    color: #30B868;
    margin-bottom: 16px;
}
#solution-container .sol-info h1{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 16px;
}

#solution-container .sol-info .sol-p2{
    font-size: 16px;
    color: #627382;
    margin-bottom: 40px;
    max-width: 700px;
}

#solution-container .sol-info .bullet-points{
    list-style: none;
    color: #001931;
}

#solution-container .sol-info .bullet-points li{
    display: flex;
    gap: 6px;
    align-items: center;
}

#solution-container .sol-info  ul{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
#think-section{
    padding: 0 200px 120px 200px;
}
#think-section .think-box{
    /* width: 100%;
    max-width: 1360px; */
    padding: 80px 40px;
    background-color: #F7F6F2;
    /* display: flex;
    flex-direction: column; */
}
#think-section .think-box .sec-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* width: 100%;
    max-width: 1280px; */
}

#think-section .think-box .sec-1 h1{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #001931;
    margin-bottom: 16px;
}

#think-section .think-box .sec-1 p{
    font-size: 16px;
    color: #627382;
    text-align: center;
    margin-bottom: 24px;
}

#think-section .think-box .sec-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#think-section .think-box .sec-2 button{
    margin: 0 583px 16px 583px;
}
#think-section .think-box .sec-2 .p2{
    font-size: 16px;
    color: #627382;
    text-align: center;
}
footer{
    padding: 120px 120px 30px 120px;
    display: flex;
    flex-direction: column;
    background-color: #001931;
    height: 384px;
}
.upper-footer{
    display: flex;
    margin: 0 auto;
    gap: 1001px;
    justify-content: center;
    

}



